trigger: none
pool: assignment
steps:

- task: TerraformTask@5
  displayName: terraform init
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
    backendServiceArm: 'assignment_connection'
    backendAzureRmOverrideSubscriptionID: 'af6aa2e9-539c-4948-b07c-d9aef5cc7c92'
    backendAzureRmResourceGroupName: 'assigmnet-rg'
    backendAzureRmStorageAccountName: 'rajnistg'
    backendAzureRmContainerName: 'frontendvm'
    backendAzureRmKey: 'terraform.tfstate'


- task: TerraformTask@5
  displayName: terraform validate
  inputs:
    provider: 'azurerm'
    command: 'validate'
    workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'

- task: TerraformTask@5
  displayName: terraform plan
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
    environmentServiceNameAzureRM: 'assignment_connection'
    environmentAzureRmOverrideSubscriptionID: 'af6aa2e9-539c-4948-b07c-d9aef5cc7c92'


# - task: ManualValidation@1
#   displayName: manual validation
#   inputs:
#     notifyUsers: 'sainiashish96@gmail.com'
#     approvers: 'sainiashish96@gmail.com'

# - task: TerraformTask@5
#   displayName: terraform apply
#   dependsOn: ManualValidation@1
#   inputs:
#     provider: 'azurerm'
#     command: 'apply'
#     workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
#     environmentServiceNameAzureRM: 'assignment_connection'
#     environmentAzureRmOverrideSubscriptionID: 'af6aa2e9-539c-4948-b07c-d9aef5cc7c92'