trigger: none
pool: assignment
jobs:
- job: build
  displayName: terraform init, vlaidate, plan
  steps:

  - task: TerraformTask@5
    displayName: terraform init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
      backendServiceArm: 'assignment_connection'
      backendAzureRmOverrideSubscriptionID: 'af6aa2e9-539c-4948-b07c-d9aef5cc7c92'
      backendAzureRmResourceGroupName: 'assigmnet-rg'
      backendAzureRmStorageAccountName: 'rajnistg'
      backendAzureRmContainerName: 'frontendvm'
      backendAzureRmKey: 'terraform.tfstate'


  - task: TerraformTask@5
    displayName: terraform validate
    inputs:
      provider: 'azurerm'
      command: 'validate'
      workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'

  - task: TerraformTask@5
    displayName: terraform plan
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
      environmentServiceNameAzureRM: 'assignment_connection'
      environmentAzureRmOverrideSubscriptionID: 'af6aa2e9-539c-4948-b07c-d9aef5cc7c92'

- job: ManualValidation
  displayName: for validating manually
  dependsOn: build
  pool: server
  steps:
  - task: ManualValidation@1
    displayName: manual validation
    inputs:
      notifyUsers: 'sainiashish96@gmail.com'
      approvers: 'sainiashish96@gmail.com'

- job: Deployment
  displayName: terraform apply
  dependsOn: ManualValidation
  steps:
  - task: TerraformTask@5
    displayName: terraform init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
      backendServiceArm: 'assignment_connection'
      backendAzureRmOverrideSubscriptionID: 'af6aa2e9-539c-4948-b07c-d9aef5cc7c92'
      backendAzureRmResourceGroupName: 'assigmnet-rg'
      backendAzureRmStorageAccountName: 'rajnistg'
      backendAzureRmContainerName: 'frontendvm'
      backendAzureRmKey: 'terraform.tfstate'
  - task: TerraformTask@5
    displayName: terraform apply
    inputs:
      provider: 'azurerm'
      command: 'apply'
      workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
      environmentServiceNameAzureRM: 'assignment_connection'
      environmentAzureRmOverrideSubscriptionID: 'af6aa2e9-539c-4948-b07c-d9aef5cc7c92'

# - job: infra destroy
#   displayName: for destroying infra
#   dependsOn: Deployment
#   steps:
#   - task: TerraformTask@5
#     inputs:
#       provider: 'azurerm'
#       command: 'destroy'
#       workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
#       environmentServiceNameAzureRM: 'assignment_connection'
#       environmentAzureRmOverrideSubscriptionID: 'af6aa2e9-539c-4948-b07c-d9aef5cc7c92'
